/* Responsive */
@media (max-width: 1090px) {
    .container {
        padding: 0 20px;
    }
    .about-area .about-me-box {
        padding: 40px 30px;
    }
    .about-area .about-me-box .img-box {
        width: 190px;
        height: 190px;
    }
    .about-area .about-me-box .infos {
        padding-top: 10px;
    }
    .about-area .about-me-box .infos h1 {
        font-size: 30px;
        line-height: 1.2;
    }
    .about-area .about-me-box .infos .about-btn {
        bottom: 25px;
    }
    .info-box {
        padding: 20px;
    }
    .info-box > img {
        width: 75%;
    }
    .info-box.about-services-box .icon-boxes {
        margin-bottom: 39px;
        margin-top: 31px;
    }
    .info-box .inner-profile-icons {
        padding: 16px;
    }
    .info-box .inner-profile-icons a {
        width: 62px;
        height: 62px;
    }
    .info-box .inner-profile-icons a i {
        font-size: 25px;
    }
    .info-box.about-contact-box .star-icon {
        width: auto;
    }
    .info-box.about-contact-box {
        padding-top: 74px;
    }

    .section-heading {
        font-size: 54px;
    }
    .section-heading img {
        width: 25px;
    }

    .service-area .service-sidebar .service-sidebar-inner {
        padding: 50px 24px;
        height: auto;
    }
    .service-area .service-sidebar .service-sidebar-inner ul {
        justify-content: center;
        gap: 114px;
    }
    .service-area .service-content-wrap .service-content-inner .service-item {
        width: 100%;
        padding-bottom: 30px;
    }
}

@media (max-width: 920px) {
    .about-area .container .row:first-child .col-md-6 {
        flex: 0 0 auto;
        width: 100%;
    }
    .about-area .about-me-box {
        margin-bottom: 24px;
    }
    .about-area .about-me-box .img-box {
        width: 224px;
        height: 224px;
    }
    .about-area .about-me-box .infos h1 {
        font-size: 36px;
        line-height: 1.2;
    }
    .info-box.about-client-box .clients .client-item {
        padding: 42px 10px 42px 10px;
    }
    .info-box.about-client-box .clients .client-item h1 {
        font-size: 26px;
        margin-bottom: 12px;
    }

    .about-area .container > .row:nth-child(2) .blog-service-profile-wrap {
        /* display: grid !important; */
        /* grid-template-columns: 1fr 1fr; */
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about-area .container > .row:nth-child(2) .blog-service-profile-wrap > div {
        width: calc(50% - 12px);
    }
    .about-area .container > .row:nth-child(2) .blog-service-profile-wrap > div:nth-child(2) {
        order: 3;

    }
    .info-box.about-services-box .icon-boxes {
        gap: 40px;
    }
    .about-area .container > .row:nth-child(3) .col-md-6 {
        width: 100%;
    }
    .info-box.about-client-box {
        margin-bottom: 24px;
    }
    .section-heading {
        font-size: 36px;
        justify-content: center;
    }
    .profile-contact-credentials-wrap {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
    .project-details-wrap .project-about-2,
    .project-details-wrap .project-infos-wrap {
        gap: 24px;
    }
    .breadcrumb-area .breadcrumb-content .section-heading br {
        display: none;
    }
}

@media (max-width: 810px) {
    .credential-area .credential-sidebar {
        width: 300px;
    }
    .credential-area .container .gx-row {
        gap: 40px;
    }
    .about-area .about-me-wrap {
        flex-direction: column;
        gap: 40px;
        align-items: center !important;
    }
    .project-details-wrap .project-infos-wrap {
        flex-direction: column;
        padding: 50px 24px 24px 24px;
    }
    .about-area .about-details .section-heading {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .header-area {
        padding: 20px 0;
    }

    .header-area .navbar {
        position: fixed;
        width: 100%;
        background: #0F0F0F;
        z-index: 15;
        overflow-x: hidden;
        /* height: 80px; */
        transform-origin: 50% 50% 0px;
        top: 0;
        left: 0;
        padding-top: 100px;
        padding-bottom: 24px;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        /* max-height: 0; */
        will-change: transform;

        /* transform: translate3d(0px, -11.4272px, 0px) scale(1, 1) scale(1, 0.945615); */
        transform: translate3d(0px, -300px, 0px) scale(1, 1) scale(1, 0.945615);
        transform: translate3d(0px, -300px, 0px) scale(1, 0.5) scale(1, 0.5);
        transition: .5s
    }
    .header-area .navbar.active {
        opacity: 1;
        visibility: visible;
        /* height: min-content; */
        transform: translate3d(0px, 0, 0px) scale(1, 1) scale(1, 1);
        /* max-height: 90vh; */
    }
    .header-area .navbar .menu {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }
    .header-area .navbar .menu li a {
        padding: 0;
    }
    .header-area .navbar .theme-btn {
        display: inline-block;
        margin-top: 48px;
    }
    .header-area .gx-row > .theme-btn {
        display: none;
    }


    .header-area .show-menu {
        display: flex;
    }
    .contact-area .gx-row,
    .credential-area .container .gx-row  {
        flex-direction: column;
    }
    .contact-area .contact-form {
        margin-top: 50px;
    }
    .project-details-wrap .project-about-2 .left-details,
    .contact-area .contact-form,
    .credential-area .credential-sidebar {
        width: 100%;
    }
    .about-area .about-experience {
        margin-bottom: 24px;
    }
    .projects-area .container > .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .project-details-wrap .project-about-2,
    .projects-area .container > .row .col-md-8 > .d-flex {
        flex-direction: column;
    }
    .project-details-wrap .project-details-img {
        height: 300px;
    }
    .breadcrumb-area .breadcrumb-content .section-heading {
        font-size: 36px;
    }

    .service-area .service-sidebar .service-sidebar-inner {
        padding: 50px 24px;
        width: 100%;
        margin: auto auto 30px auto;
    }
    .service-area .service-sidebar .service-sidebar-inner ul {
        gap: 50px;
        max-width: 220px;
        margin: auto;
    }
    .service-area .col-md-8 > .section-heading {
        display: none;
    }
    .service-area .container > .section-heading {
        display: flex;
        margin-bottom: 30px;
    }

    .blog-details-area,
    .blog-area {
        padding-top: 40px;
    }
    .blog-details-area .blog-details-content,
    .blog-area .blog-items {
        padding-right: 0;
    }
    .blog-area .blog-items .blog-item .img-box {
        margin-bottom: 50px;
    }
    .blog-sidebar {
        margin-top: 50px;
    }

}
@media (max-width: 585px) {
    .about-area .about-me-box {
        flex-direction: column;
    }
    .about-area .about-me-box .img-box {
        margin: auto;
    }
    .about-area .container > .row:nth-child(2) .blog-service-profile-wrap {
        grid-template-columns: 1fr;
    }
    .about-area .about-credentials-wrap > .gx-row {
        flex-wrap: wrap;
    }
    .about-area .about-credentials-wrap > .gx-row > * {
        width: 100%;
        flex: none;
    }
    .info-box > img {
        width: auto;
    }
    .info-box.about-client-box .clients {
        /* display: grid !important;
        grid-template-columns: 1fr 1fr; */
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .info-box.about-client-box .clients .client-item {
        width: calc(50% - 12px);
        flex: none;
    }
    .info-box.about-contact-box h1 {
        font-size: 30px;
        line-height: 1.2;
    }
    .contact-area .contact-form h1 {
        font-size: 34px;
    }
    .contact-area .contact-form .shadow-box {
        padding: 55px 20px 30px 20px;
    }
    .contact-area .social-links li a {
        width: 50px;
        height: 50px;
        line-height: 58px;
        font-size: 20px;
    }
    .contact-area .contact-infos .contact-details li .icon-box {
        width: 58px;
        height: 58px;
        line-height: 63px;
        font-size: 25px;
    }
    .contact-area .contact-infos .contact-details li + li {
        margin-top: 40px;
    }

    .projects-area .container > .row,
    .profile-contact-credentials-wrap {
        grid-template-columns: 1fr;
    }
    .about-area .about-image-box {
        max-width: 370px;
        width: 100%;
    }
    .about-area .about-image-box {
        padding: 15px;
    }
    .about-area .about-details .about-details-inner h1,
    .section-heading {
        font-size: 26px;
    }
    .about-area .about-details .about-details-inner {
        padding-top: 80px;
    }
    .projects-area .container > .section-heading {
        display: flex;
        margin-bottom: 40px;
    }
    .projects-area .col-md-8 .section-heading {
        display: none;
    }
    .breadcrumb-area .breadcrumb-content .section-heading {
        font-size: 24px;
    }
    .project-details-wrap .project-details-3-img,
    .project-details-wrap .project-details-2-img {
        height: 250px;
    }
    .project-details-wrap .row .col-md-6:first-child .project-details-3-img {
        margin-bottom: 24px;
    }
    .project-details-wrap .project-about-2,
    .project-details-wrap .project-about-2 .left-details {
        padding: 30px;
    }
    .project-details-wrap .big-btn {
        margin-top: 50px;
        font-size: 25px;
        padding: 30px 46px;
    }

    .about-area .container > .row:nth-child(2) .blog-service-profile-wrap > div,
    .projects-area .project-item .project-img img {
        width: 100%;
    }
    .blog-area .blog-items .blog-item .img-box {
        height: 300px;
    }
    .blog-details-area .blog-details-content .comments-and-form-wrap .comments .children {
        padding-left: 40px;
    }
    .blog-details-area .blog-details-content .comments-and-form-wrap .comments .comment-list {
        gap: 20px;
    }
    .blog-details-area .blog-details-content .comments-and-form-wrap .comments .comment-list .comment-avatar {
        width: 70px;
        height: 70px;
    }
    
}
@media (max-width: 425px) {
    .about-area .about-me-box .infos h1 {
        font-size: 30px;
    }
    .about-area .about-me-box .infos {
        padding-right: 20px;
    }
    .info-box.about-services-box .icon-boxes {
        gap: 25px;
    }
    .info-box.about-services-box .icon-boxes i {
        font-size: 30px;
    }
    .credential-area .skills-wrap .skill-items,
    .info-box.about-client-box .clients {
        grid-template-columns: 1fr;
    }
    .footer-area .footer-content .footer-menu {
        gap: 24px;
    }
    .credential-area .credential-content .credential-about {
        padding-bottom: 70px;
    }
    .contact-area .contact-form h1 {
        font-size: 30px;
    }
    .info-box.about-client-box .clients .client-item {
        width: 100%;
    }
    .blog-details-area .blog-details-content .comments-and-form-wrap .comments .comment-list {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .blog-details-area .blog-details-content .comments-and-form-wrap .comments .children {
        padding-left: 0;
    }
}